.navbar {
  margin: auto;
  text-align: center;
  position: fixed;
  display: inline-block;
}

.navbar button:hover {
  background-color: bisque;
  color: rgb(194, 150, 4);
}

button {
  background-color: blanchedalmond;
  border-radius: 30px;
  padding: 5px;
  block-size: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: cadetblue;
  text-shadow: 0 2px 10px rgb(213, 226, 163);
  box-shadow: 0 9px 3px #4ba39775;
}

#go-back {
  margin-top: 200px;
  block-size: 200px;
  padding: 100px;
  font-size: 24pt;
  font-style: bold;
}

.backbutton button:hover {
  background-color: bisque;
  color: rgb(194, 150, 4);
}

#CharWed {
  padding: inherit;
  margin: auto;
  width: 300px;
  height: 450px;
  display: block;
  border-radius: 10px;
}

#Curse {
  padding: inherit;
  margin: auto;
  width: 500px;
  display: block;
  border-radius: 10px;
}

#Block2 {
  padding: inherit;
  margin: auto;
  width: 600px;
  display: block;
  border-radius: 10px;
}

#Block3 {
  padding: inherit;
  margin: auto;
  width: 600px;
  display: block;
  border-radius: 10px;
}

#Block4 {
  padding: inherit;
  margin: auto;
  width: 600px;
  display: block;
  border-radius: 10px;
}

h1 {
  padding: 5px;
  margin: auto;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(194, 150, 4);
  font-size: 36pt;
}

h2 {
  margin: auto;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(194, 150, 4);
  font-size: 18pt;
  font-style: italic;
}

p {
  margin: auto;
  text-align: center;
  padding: 10px;
  font-family: fantasy;
  color: rgb(194, 150, 4);
  font-weight: thin;
}

footer {
  margin: auto;
  text-align: center;
  padding-top: 15px;
}

body {
  background-color: rgb(171, 216, 216);
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  background-color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18pt;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  border: 3px solid snow;
  margin-top: 50px;
}

#fname {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  border-radius: 10px;
}

#email {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  border-radius: 10px;
}

#message {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  border-radius: 10px;
}


#submit {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  border-radius: 10px;
}

img {
  border-radius: 10px;
  display: inline-block;
  width: 5%;
}